.git
.gitignore
.vscode
.devcontainer
node_modules
*.pyc
__pycache__
.pytest_cache
.mypy_cache
.env
.env.local
*.log
logs/
.airflow/
data/
.local/
postgres-data/
*.egg-info
dist/
build/
.DS_Store
Thumbs.db
